<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>jsp-app1</display-name>

	<welcome-file-list>
		<welcome-file>main.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>fruadd</servlet-name>
		<servlet-class>com.khadri.mart.fruits.add.servlet.FruitsAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fruadd</servlet-name>
		<url-pattern>/fruadd</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fruitsmodifyservlet</servlet-name>
		<servlet-class>com.khadri.mart.fruits.modify.servlet.FruitsModifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fruitsmodifyservlet</servlet-name>
		<url-pattern>/fruitsmodify</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fruitsdeleteyservlet</servlet-name>
		<servlet-class>com.khadri.mart.fruits.delete.servlet.FruitDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fruitsdeleteyservlet</servlet-name>
		<url-pattern>/fruitsdelete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fruitsaddJsp</servlet-name>
		<jsp-file>/fruits_add.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>fruitsaddJsp</servlet-name>
		<url-pattern>/fruits_add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fruitsviewJsp</servlet-name>
		<jsp-file>/fruits_view.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>fruitsviewJsp</servlet-name>
		<url-pattern>/fruits_view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fruitsmodifyJsp</servlet-name>
		<jsp-file>/fruits_modify.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>fruitsmodifyJsp</servlet-name>
		<url-pattern>/fruits_modify</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fruitsviewallJsp</servlet-name>
		<jsp-file>/fruits_viewAll.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>fruitsviewallJsp</servlet-name>
		<url-pattern>/fruits_viewAll</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fruitsdeleteJsp</servlet-name>
		<jsp-file>/fruits_delete.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>fruitsdeleteJsp</servlet-name>
		<url-pattern>/fruits_delete</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>Url</param-name>
		<param-value>jdbc:mysql://localhost:3306/2024_batch</param-value>
	</context-param>
	<context-param>
		<param-name>User</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>Password</param-name>
		<param-value>Wellcome@123</param-value>
	</context-param>

</web-app>